<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Custom Web Application</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>Locations</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
        {% for state in States|sort(attribute='name') %}
	      <li>
		<h2>{{ state.name }}</h2>
		<ul>
            {% for city in state.cities|sort(attribute='name')  %}
		  <li>{{ city.name }}</li>
            {% endfor %}
		</ul>
	      </li>
        {% endfor %}
	    </ul>
	  </div>
	</div>
	<div class="amenities">
	  <h3>Facilities</h3>
	  <h4>&nbsp;</h4>
	  <div class="popover">
	    <ul>
        {% for amenity in Amenities %}
	      <li>{{ amenity.name }}</li>
	    {% endfor %}
	    </ul>
	  </div>
	</div>
	<button type="button">Search</button>
      </section>
    </div>
    <footer>
      <p>Our Web Application</p>
    </footer>
  </body>
</html>
